.menuDesktop{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    top: 40px;
    
}

.windowhidden{
    display: none;
}
.botonEnlace{
    cursor: pointer;
    color: rgb(250, 79, 79);
}
.botonEnlace:hover{
    color: rgb(247, 14, 14);
}